:root {
  font-family: 'Arial', sans-serif;
  color-scheme: light dark;
}

/* [data-theme="light"] {
  --primary-color: #ffffff;
  --text-color: #000000de;
}

[data-theme="dark"] {
  --primary-color: #242424;
  --text-color: #ffffffde;
} */

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #C7C8C9;
} 

form {
    text-align: center;
    justify-items: center;
}

.modal-total {
    min-width: 50%;
}

.modal-tam {
    width: 100%;
}

label {
    font-size: 17px;
}

textarea {
    resize: none;
}

.inputs {
    width: 25em;
    margin-bottom: 1.4em;
}

.div-tags {
    text-align: left;
    display: inline-block;
}

.tag-color {
    height: 20px;
    width: 35px;
    border-radius: 5px;
    margin: auto 10px;
    border: 0px;
}

.save {
    padding: 0.6em 1.2em;
    font-weight: 500;
    width: 25em;
    margin-bottom: 1.5em;
}

.column {
    margin: 20px 0 20px 30px;
    min-width: 300px;
    max-width: 300px;
    min-height: 500px;
    background-color: #F3F4F6;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #00000040;
}

.header-col {
    display: flex;
    margin: 1em;
    border-bottom: 1px solid #bbbbbb96;
}

.title-col {
    font-size: 22px;
    padding: .5em;
    width: 90%;
}

.qt-col {
    font-size: 20px;
    padding: .5em;
    border-radius: .3em;
    background-color: #bbbbbb96;
}


.rout {
    text-align: center;
}
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
